@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PlayerLeaderboard>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";

    var players = Umbraco.ContentAtRoot().DescendantsOrSelf<Player>().OrderByDescending(p => p.Elo);
}

<h1>@Model.Header</h1>

<ol class="list-group list-group-numbered">
@foreach (var player in players)
{
        <li class="list-group-item">
        @player.Name
        <p>Wins: @player.Wins <br /> Losses: @player.Losses <br /> Elo: @player.Elo </p>
        </li>
}
</ol>